.App{
  text-align:center;
}
.addNote {

  width:100%; 
  height:100px; 
  background-color:antiquewhite; 
  color:black;
  text-align:center; 
  display:flex;
  flex-wrap:wrap; 
  justify-content: center ;
  align-items: center; 
  
}
.addNote input  {

border: solid 1px black;
padding:10px; 
width:35%;
border-radius:5px;
margin-right:10px;
}
.addNote button {

  padding:5px 15px ; 
  background-color:lightblue;
  color:black ; 
  font-weight:bold; 
  border: none;
  border-radius:5px;
}
.notesList {
  /* border: solid black 1px;  */
  display : flex; 
  flex-wrap: wrap ; 
  flex-direction: column;
  align-items: center;
}
.container{
  width:70%; 
  /* border: solid red 1px; */
  display:flex; 
  flex-wrap:wrap;
  justify-content : center; 
  align-items :space-between ; 
  /* row-gap:3px; */
}
.flexItem {
  width : 60%; 
  /* border: solid black 1px; */
  display: flex; 
  justify-content: space-around;
  align-items: center; 
 
}

.flexItem button {
  margin:5px; 
}